db/
__pycache__
startup/.00-startup.py
tomo_ctrl/
*.swp
*.h5
*.tif
*.tiff
history.sqlite
static/
startup/Tomo_test/
startup/temp/
93-load_scan_corrupted_0912_2019.py
startup/backup/
startup/calib_copy_Feb10_2019.csv
startup/hs_err_pid7527.log
.vscode/
